body {
    padding: 10px;
    background-image: url("https://images.unsplash.com/photo-1620121684840-edffcfc4b878?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    height: 100%;
    width: 100%;
    
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
}
.navbar{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
height: 8vh;
}
#carouselExampleCaptions{
    height: 80vh;
    border-radius: 50px;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.d-block{
    height: 80vh;
    border-radius: 50px;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.card {
    width: 70vw;
    height: 50vh;
    border-radius: 30px;
    background-color: rgb(46, 44, 44);
    color: white;
}
.comment{
    width: 70vw;
    height: 50vh;
    border-radius: 30px;
    background-color: rgb(46, 44, 44);
    color: white;

}
.inputbox{
    width: 40vw;
    border: none;
    border-radius: 3px;
}
.background{
    
}