{% extends "auctions/layout.html" %}

{% block body %}


    <div style="display: flex;justify-content: center; align-items: center; flex-direction: column; min-height: 90vh;">
<div><h1 style=" color: white;">Watchlist</h1></div>
    {%for item in watchlist%}
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{item.item.img}}" class="img-fluid rounded-start" style="height: 50vh; border-radius: 30px;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.item.item}}</h5>
              <p class="card-text">{{item.item.description}}</p>
              <p>listed by : {{item.item.owner}}</p>
              <p>Listing Price : {{item.item.listingprice}}</p>
              <p>Category : {{item.item.Category}}</p>
              
                <form action="{%url 'deletewatchlist'%}" method="POST">
                {%csrf_token%}
                <input type="hidden" value={{item.item.id}} name="item">
                <button type="submit" class="btn btn-primary btn-sm">Stop watch</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>

{% endblock %}